fieldset {
    width: 200px;
    height: 180px;
    background-color: cornflowerblue;
    position: absolute;
    left:40%;
    top:25%;
}

input[type="text"]:focus {
    background-color: lightblue;
    color:black;
}

input {
    padding: 3px;
}
body {
    background-color:cornsilk;
}