div {
    border: 1px solid black;
}

#conteiner {
    width: 1350px;
    margin: 0 auto;
    background-image: url(../Imagens/gamer.jpg);
    background-size: 100%;
}

#header {
 height: 30px;
 
}

#left {
width: 350px;
height: 700;
float: left;
}

#content {
width: 996;
height: 700;
float: right;
}

#footer{
 clear:both;
}

li {
    padding:30px;
    width:500px;
    color:red;
}